* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #FFFFFF;
}

#home {
    max-width: 100%;
    display: flex;
}

header {
    position: relative;
    position: fixed;
    margin: auto;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #20142B;
    box-shadow: 0px 0px 10px 0px #000000;
    z-index: 101;
}

.nav {
    background-color: #FFFFFF;
    margin: auto;
}

.nav li {
    display: inline;
    font-size: 16px;
    font-family: arial;
    text-align: center;
}

.nav a {
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

header .header1 {
    float: right;
    margin: 5px 350px;
    padding: 0px 20px;
    word-spacing: 1em;
    color: #E4E4E4;
    z-index: 9999;
    text-align: center;
}

.header1 .img1 {
    position: absolute;
    top: 15px;
    right: 300px;
}

.header1 a:hover {
    display: inline;
    color: #BFBFBF;
}

header .header2 {
    margin: 0px 250px;
    float: left;
    word-spacing: 0.3em;
    background-color: #20142B;
    text-align: center;
}

.header2 li {
    font-family: 'Shift', sans-serif;
    font-size: 30px;
    background-color: #20142B;
}

.pictrue {
    background-image: url(../image/monkey.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 60px;
    left: 0px;
    height: 700px;
    width: 100%;
    margin: 50 0px 0 0px;
    padding: 100px 0px 300px 350px;
    background-color: #FFFFFF;
    line-height: 3em;
}

.pictrue h1 {
    font-size: 70px;
    font-family: 微軟正黑體, 新細明體;
    color: #FFFFFF;
    text-shadow: 2px 2px #A1A1A1;
}

.pictrue p {
    font-size: 25px;
    font-family: 微軟正黑體, 新細明體;
    color: #FFF0DB;
}

.btn {
    border: 1px solid;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.btn:hover {
    color: #E5E5E5;
}

.article {
    position: relative;
    margin: 700px auto 250px auto;
    max-width: 100%;
    display: block;
}

.article img {
    margin: 2px;
}

.article p {
    margin: 10px;
    text-align: center;
}

.article1,
.article2,
.article3,
.article4,
.article5,
.article6 {
    float: left;
    position: relative;
    left: 100px;
    margin: 100px 20px;
    padding: 0px auto 0px auto;
    max-width: 100%;
    width: 33.3%;
    height: 300px;
    width: 515px;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 微軟正黑體;
    color: #656565;
}

footer {
    background-size: 100%;
    color:#FFFFFF;
    font-size: 18px;
    font-family:arial; 
    background-color: #FF7900;
    position: absolute;
    width: 100%;
    top: 1100px;
    left: 0px;
    margin: 800px 0px 0px 0px;
    padding: 0px 0px 0px 490px;
}
